<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TDM PROD" connectionString="Server=uhlplvm03;Database=TDMPROD;User Id=tms;Password=tms;"/>
		<add name="TDM TEST" connectionString="Server=uhlplvm03;Database=TDMTEST;User Id=tms;Password=tms;"/>
	</connectionStrings>
	<appSettings>
		<add key="GlobalDictonaryRelativePath" value="/DatronDataDictonary.csv"/>
		<add key="LocalDictonaryAbsolutePath" value=""/>
		<add key="DictonaryMode" value="Global"/>
		<add key="DatabaseMode" value="Test"/>
	</appSettings>
</configuration>